# Copyright (c) 2016-2025 Makerdiary <https://makerdiary.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_NRF54L15_CONNECTKIT
	select SOC_NRF52820_QDAA if BOARD_NRF54L15_CONNECTKIT_NRF52820
	select SOC_NRF54L15_CPUAPP if BOARD_NRF54L15_CONNECTKIT_NRF54L15_CPUAPP || BOARD_NRF54L15_CONNECTKIT_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_NRF54L15_CONNECTKIT_NRF54L15_CPUFLPR || \
					    BOARD_NRF54L15_CONNECTKIT_NRF54L15_CPUFLPR_XIP
